.faq {
  display: flex;
  flex-direction: column;
  padding: 0 16px;

  &__title {
    margin: 0 0 20px;
    font-weight: bold;
    font-size: 2.67rem;
    line-height: 3/5rem;
  }

  &__title-digest {
    margin: 0 0 2px;
    order: -1;
    font-size: 1.33rem;
    line-height: 1.58rem;
    color: #ee3d48;
  }
}
