.booth {
  display: flex;
  flex-direction: column;

  &__slider {
    order: -1;
    max-width: 375px;
    margin-bottom: 30px;
  }

  &__slider-img {
    width: 296px;
    height: 100%;
    object-fit: cover;
  }
}
